<div class="row footerbg ">
    <div class="col-sm-12">
        <div class="col-sm-12">
   
        <div class="spacetwenty"></div>
        <div class="col-sm-2">
            <img alt="Intellogo logo" src="assets/images/logo_1.png">
            <div class="spacetwenty"></div>
        </div>
        <div class="col-sm-2">
            <a routerLink="/aboutus">  <p class="footersubheader">About us</p></a>
            <a routerLink="/contactus"><p class="footermenu">Contact us</p></a>
            <!-- <p class="footermenu">Careers</p> -->
        </div> 
        
        <div class="col-sm-4">
            <a routerLink="/solutions"> <p class="footersubheader">Solutions</p> </a>
            <a routerLink="/solutions"> <p class="footermenu">Fleet Management Solutions</p></a>
            <a routerLink="/solutions"> <p class="footermenu">School Bus Management Solutions</p></a>
            <a routerLink="/solutions">  <p class="footermenu">Prompt Vehicle Servicing Solutions</p></a>
            <a routerLink="/solutions"> <p class="footermenu">Insurance Telematics Solutions</p></a>
        </div>
    <div class="col-sm-4">
       
        <button class="btn btn-danger backtotop" style="float: right;" (click)="gotoTop()">Back to Top <i class="fa fa-arrow-up" aria-hidden="true"></i></button>
    </div>
</div>
<div class="col-sm-12">
<div class="spacetwenty"></div>
</div>
<div class="col-sm-12 text-center" style="padding: 0px;">
   <hr style="border-top: 1pt solid rgb(255, 255, 255);"/>
   <p class="footermenu">Copyright &#169; 2020 IntelliGO, All Rights Reserved</p>
</div>
</div>
</div>
