.arrow {
    border: solid #7a6aff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
  }
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

 
  .carousel{
    position: relative;
    text-align: center;
}
.carousel-indicators{
  position: absolute;
  /* top: 100px; */
  left: 30%;
  height: 0px;
  width: 100%;
  bottom: -25px;
}
.carousel-indicators li{
    text-indent:0;
    display:inherit;
    float:left;
    width: 18%;
    /* height: 100px; */
    margin:0px 3px;
}
.carousel-indicators li img{
  width: 100%;
  /* height: 60px; */
  /* border: 2px solid #CCCCCC; */
  padding: 0px;
}
.carousel-indicators .active img{
    border:none;
}
.carousel-indicators .active{
  
    margin:0px 0px;
    width: 18%;
    /* height: 100px; */
}
.carousel-control.right,
.carousel-control.left{
    background-image: none;
}
.carousel-inner > .item.active, .carousel-inner > .item.next.left, .carousel-inner > .item.prev.right{
  height: auto;
}
@media screen and (min-width:200px) and (max-width:850px) {
    .carousel-indicators{
        /* top:115px; */
        left:30%;
    }
    .carousel-indicators li img{
        width:95%;
        height:50px;
    }
    .carousel-indicators li{
        width:18%;
        height:50px;
        opacity: 0.5;
        text-align: center;
    }
    .carousel-indicators .active{
        width:18%;
        height:50px;
        opacity: 1;
        text-align: center;
    }
}
@media screen and (min-width:768px) and (max-width:980px){
    .carousel-indicators{
        /* top:240px; */
        /* left:213px; */
    }
}
