<app-header></app-header>
<div style="padding-bottom: 65px;"></div>
<div class="row rowwhitebgfull bannertextcenter">
    <div class="col-sm-12 ">
        <div class="col-sm-12">
            <div class="spaceten"></div>
    <div class="col-sm-6">
       <img class="imagedata" src= "assets/images/aboutus_1.png" alt="" />
    </div>
    <div class="col-sm-6 ">
       
           
            <p class="productsubheader">About Us</p>
            <div class="spaceten"></div>
            <p class="productsubtext">Providing accurate and affordable GPS tracking solutions with automation. The purpose of tracking devices is to monitor real time location metrics and provide a detailed analysis to safeguard our customer from any unpredictable situations. Our tracking solutions can be used for individuals and businesses. Our products range from vehicle tracker, personal tracker to asset tracker and many more.</p>
            <div class="spaceten"></div>
            <button class="btn btn-primary" routerLink="/contactus">Contact US</button>
    </div>
</div>

</div>
</div>
<div class="row rowdarkbgfull bannertextcenter aboutrowheight">
    <div class="col-sm-12 ">
        
        <div class="col-sm-12 bannertextcenter">
            
    <div class="col-sm-6  col-lg-push-6 mx-auto">
        <div class="spacefifty"></div>
        <img  class="ourvissionimage" src= "assets/images/vision.png" alt="" />
               
    </div>
    <div class="col-sm-6 col-lg-pull-6 mx-auto">
        <p class="productsubheader">Our Vision</p>
        <div class="spaceten"></div>
        <p class="productsubtext">Enhancing human limitations with Artificial Intelligence.</p>
       
     </div>
</div>
</div>
</div>
<div class="row rowwhitebgfull bannertextcenter aboutrowheight">
    <div class="col-sm-12 ">
       
        <div class="col-sm-12 bannertextcenter">
            <div class="col-sm-6">
                <div class="spaceten"></div>
                <img  class="ourmissionimage" src= "assets/images/ourmission.png" alt=""/>
             </div>
    <div class="col-sm-6">
       
           
            <p class="productsubheader">Our Mission</p>
            <div class="spaceten"></div>
            <p class="productsubtext">To create benchmark in mobility solutions by integrating with innovative technologies that enhances- the safety & comfort/ quality of life.</p>
            
          
    </div>
    
</div>
</div>
</div>
<div class="row rowdarkbgfull bannertextcenter aboutrowheight">
    <div class="col-sm-12 ">
       
        <div class="col-sm-12 bannertextcenter">
    
    <div class="col-sm-6 col-lg-push-6 mx-auto">
        <div class="spaceten"></div>
        <img class="imagedata" src= "assets/images/workwithus.png" alt=""/>
            
           
          
    </div>
    <div class="col-sm-6 col-lg-pull-6 mx-auto">
        <p class="productsubheader">Want to Work with US?</p>
            <div class="spaceten"></div>
            <p class="productsubtext">We are looking for passionate people for various roles.</p>
            <div class="spaceten"></div>
            <button class="btn  btn-primary">Check our Openings</button>
     </div>
</div>
</div>
</div>
<app-footer></app-footer>