<app-header></app-header>
<div style="padding-bottom: 65px;"></div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12">
    
    <div class="col-sm-6 col-lg-push-6 mx-auto">
        <div class="spaceten"></div>
        <div class="spacetwenty"></div>
        <img class="imagedata" src= "assets/images/contactus.png" alt="" />
 
    </div>
    <div class="col-sm-6 col-lg-pull-6 mx-auto">
        <div class="spacetwenty"></div>
       <p class="subheader"><span><img class="iconwidth" src="assets/images/callus.png" alt=""/></span>&nbsp; Call us @</p>
       <p class="subheadertext">040 4855 1600 </p>
       <div class="spaceten"></div>
       <p class="subheader"><span><img class="iconwidth" src="assets/images/message.png" alt=""/></span>&nbsp; Mail us @</p>
       <p class="subheadertext"> info@myintelligo.com </p>
       <div class="spaceten"></div>
       <p class="subheader"><span><img class="iconwidth" src="assets/images/location.png" alt=""/></span>&nbsp; Location (Show on Map)</p>
       <p class="subheadertext">1-98/9/3/13,</p>
       <p class="subheadertext"> Plot No: 12,  4th Floor,</p> 
       <p class="subheadertext">Silicon Heights Building, Silicon Valley,</p> 
       <p class="subheadertext">    Image Garden Road, Madhapur,</p>
       <p class="subheadertext">Hyderabad-500081, Telangana state – India.</p>
       <div class="spaceten"></div>
       <!-- <button class="btn btn-primary">Send a Message</button> -->
    </div>
</div>
<div class="col-sm-12">
<div class="spacetwenty"></div>
</div>
</div>
</div>
<app-footer></app-footer>