<app-header></app-header>


<div class="row homebackground bannertextcenter">

    
  <div class="col-sm-12 ">
    <div class="col-sm-12 bannertextcenter">
        <div class="col-sm-6 col-lg-push-6 mx-auto">
              
               <div class="mobilespacefifty"></div>
              
                <img class="imagedata" src="assets/images/homeimg.png" alt=""  />
           
            
        </div>
        <div class="col-sm-6 col-lg-pull-6 mx-auto">
            <div class="mobilespacefifty"></div>
                <p class="homebannertext">IntelliGO</p>
                <div class="spaceten"></div>
                <p class="homebannertextsubone">Track <span class="dot"></span> Analyze <span class="dot"></span>  Integrate</p>
                <p class="homebannertextsubtwo"><span class="textstyle">Track</span> live location </p>
                <p class="homebannertextsubtwo"><span class="textstyle">Analyze</span> the data and provide analytics </p>
                <p class="homebannertextsubtwo"><span class="textstyle">Integrate</span> with Artificial Intelligence</p>
           
        
        </div>
    </div>
    </div>
</div>
<div class="row rowdarkbg bannertextcenter" >
  
    <div class="col-sm-12 ">
       
        <p class="hometext">Providing affordable end-to-end GPS Tracking solutions with AI for individuals and organizations. Our tracking solutions are integration of hardware & software with technology. We use Artificial Intelligence technology to provide accurate metrics. With our tracking device analytics - minimize repair costs, save time and enhance performance. </p>
      <!-- <div class="spacetwenty"></div> -->
    </div>
   
</div>
<div class="row rowwhitebgslider ">
    <div class=" ">
        <div class="spacetwenty"></div>
        <div class="carousel slide " id="fade-quote-carousel" data-ride="carousel" data-interval="false" data-touch="true">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#fade-quote-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
            <li data-target="#fade-quote-carousel" data-slide-to="2"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
                <blockquote>
                    <div class="row bannertextcenter">
    
                        <div class="col-sm-6">
                          
                          <img class="imagedata imagealignment" src="assets/images/vts_home.jpg" alt="" />
                        </div>
                        <div class="col-sm-5 ">
                            <div class="spaceten"></div>
                            <p class="productsubheader">Vehicle Tracking System</p>
                            <div class="spaceten"></div>
                            <p class="productsubtext">Tracks live location of a vehicle and its position at regular intervals. The device gives alerts related to fuel availability, repairs , engine monitoring, ignition on/off, over speed, maintenance and many more. Minimize repair costs with timely alerts.</p>
                            <div class="spaceten"></div>
                            <button class="btn btn-primary" routerLink="/vehicletracking">Explore</button>
                        </div>
                        
                    </div>
                    
                    
                     </blockquote>
               
            </div>
            <div class="item">
                <blockquote>
                    <div class="row bannertextcenter">
                        
                        <div class="col-sm-6">
                            <div class="spacetwenty"></div>
                          <img class="imagedata imagealignment" src="assets/images/kid_tracker.jpg" alt="" />
                        </div>
                        <div class="col-sm-5">
                            <div class="spaceten"></div>
                            <p class="productsubheader">Kid Tracker</p>
                            <div class="spaceten"></div>
                            <p class="productsubtext">Kids want to be independent but parents are worried much about their security. Kid tracker satisfies children and parents problems. 
                                Keep/ place the tracker in kids backpack and track their daily activities. With this device achieve independence and total safety.</p>
                                <div class="spaceten"></div>
                                <button class="btn btn-primary" routerLink="/kidtracker">Explore</button>
                        </div>
                        
                    </div>
                   
                  </blockquote>
               
            </div>
            <div class="item">
                <blockquote>
                    <div class="row bannertextcenter">
                        
                        <div class="col-sm-6">
                            <div class="spacetwenty"></div>
                          <img class="imagedata imagealignment" src="assets/images/assettracker.jpg" alt="" />
                        </div>
                        <div class="col-sm-5">
                            <div class="spaceten"></div>
                            <p class="productsubheader">Asset Tracker</p>
                            <div class="spaceten"></div>
                            <p class="productsubtext">Our GPS enabled Asset Tracking device helps in protecting valuable shipments. With increased crime rates it has become difficult to protect and safeguard precious items from theft or robbery. Prevent such situations & shield your treasures with our advanced asset tracking applications. </p>
                            <div class="spaceten"></div>
                            <button class="btn btn-primary" >Explore</button>
                        </div>
                        
                    </div>
                </blockquote>
               
            </div>
          </div>
        </div>
    </div>							
</div>


<div class="row rowdarkbgsolutions homedarkbg">
  
    <div class="col-sm-12">
        <div class="col-sm-12">
        <div class="spacefifty"></div>
        <p class="productheader">Our Solutions</p>
        <div class="spacefifty"></div>
    </div>
    </div>
    
    <div class="">
       <div class="col-sm-12">
        <div class="col-sm-12">
        <div class="col-sm-3 text-center">
            <div class="oursolutions">
                <div class="spacetwenty"></div>
                <img class="iconimages" src="assets/images/fms.png" alt=""/>
                <p class=" oursolutionstext"> Fleet Management Solutions</p>
                <div class="spaceten"></div>
        </div>
        </div>
        <div class="col-sm-3 text-center">
            <div class="oursolutions">
                <div class="spacetwenty"></div>
                <img class="iconimages" src="assets/images/sbms.png" alt=""/>
                <p class=" oursolutionstext">School Bus Management Solutions</p>
                <div class="spaceten"></div>
            </div>
        </div>
        <div class="col-sm-3 text-center">
            <div class="oursolutions">
                <div class="spacetwenty"></div>
                <img class="iconimages" src="assets/images/pvss.png" alt=""/>
                <p class=" oursolutionstext">Prompt Vehicle Servicing Solutions</p>
                <div class="spaceten"></div>
            </div>
        </div>
        <div class="col-sm-3 text-center">
            <div class="oursolutions">
                <div class="spacetwenty"></div>
                <img class="iconimages" src="assets/images/its.png" alt=""/>
                <p class=" oursolutionstext">Insurance Telematics Solutions</p>
                <div class="spaceten"></div>
            </div>
        </div>
   
    <div class="col-sm-12">
        <div class="spacefifty"></div>
        <p class="productsubtext">We also provide customized solutions &nbsp; <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#requestdemo">Request for a Demo</button></p>
        <div class="spacetwenty"></div>
    </div>
    </div>
    </div>
    </div>
</div>

<div class="row rowwhitebg">
  
   
   
        <div class="col-sm-12">
            <div class="spacetwenty"></div>
            <p class="productheader">Why IntelliGO?</p>
            <div class="spacetwenty"></div>
        </div>
        
        <div class="col-sm-12">
            <div class="col-sm-12">
        <div class="col-sm-3 col-xs-6">
            <div class="whyintelligo">
                <p class="textsize16">Customized Fleet Solutions</p>
                
                <!-- <div class="spacefifty"></div> -->
                <div class="spacetwenty"></div>
                <img src="assets/images/customfleet.png" alt=""/>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="whyintelligo">
                <p class="textsize16">Increase in Economy of Fleet</p>
               
                <!-- <div class="spacefifty"></div> -->
                <div class="spacetwenty"></div>
                <img src="assets/images/economy.jpg" alt=""/>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="whyintelligo">
                <p class="textsize16">Our Service/ Support</p>
                
                <!-- <div class="spacefifty"></div> -->
                <div class="spacetwenty"></div>
                <img src="assets/images/ourservices.jpg" alt=""/>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="whyintelligo">
                <p class="textsize16">We Build Products End-to-End</p>
                
                <!-- <div class="spacefifty"></div> -->
                <div class="spacetwenty"></div>
                <img src="assets/images/endtoend.jpg" alt=""/>
            </div>
        </div>
        </div>
    </div>
    <div class="col-sm-12 text-center">
        <div class="spacetwenty"></div>
       <a routerLink="/contactus"> <button class="btn btn-primary">Contact us</button></a>
        <div class="spacefifty"></div>
    </div>

</div>

<app-footer></app-footer>



















 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>